<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Form</title>
</head>
<body>
    <h2>The bill form</h2>
    <p>Fill in the form and click the button to get the results</p>
    <form action="/results" method="post">
        {{ billform.amount.label }} {{ billform.amount }}
        <br>
        {{ billform.period.label }} {{ billform.period }}
        <hr>
        <p>First Roommate</p>
        {{ billform.name1.label }} {{ billform.name1 }}
        <br>
        {{ billform.days_in_house1.label }} {{ billform.days_in_house1 }}
        <hr>
        <p>Second Roommate</p>
        {{ billform.name2.label }} {{ billform.name2 }}
        <br>
        {{ billform.days_in_house2.label }} {{ billform.days_in_house2 }}
        <br>
        {{ billform.button }}
    </form>
</body>
</html>